.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}



.carousel-mini {
  max-height: 380px;
}

.modal-title {
  font-family: 'DIN', sans-serif;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 1rem 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.product-title {
  margin: 1rem;
  font-size: 1.2rem;
}

.no-margin-top {
  margin-top: 0 !important;
}

.full-width-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.footer-brand-bg {
  background: #242922;
  min-height: 150px;
}

.footer-h3 {
  font-family: 'DIN';
  font-size: 1.3rem;
}

.card-img-overlay {
  padding: 0;
}

.card-title {
  line-height: 1.5;
  font-size: 1.6rem;
}

.spec-table {
  width: 100%;
  color: #f9faf9;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: none;
}

.section {
  min-height: 50vh;
}

.carousel-item {
  height: 50vh;
}

@media (max-width: 992px) {
  .section {
    min-height: 50vh !important;
  }
  .h-auto {
    height: auto;
  }
  .slide-item {
    max-height: 200px;
    min-height: unset;
  }
  .slide-item img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
  }
}